* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Стили самой таблицы */
.table {
  position: relative;
  width: 80%;
  margin: 160px auto;
}

/* Стили шапки таблицы */
.table-header {
  padding-right: 180px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

/* Стили элемента шапки */
.table-input-name {
  width: 20%;
  font-size: 20px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  color: #818181;
}

/* Стили записи и полей */
.table-input {
  display: flex;
  align-items: center;
  height: 40px;
}

.table-input-field {
  width: 18%;
  display: flex;
  justify-content: center;
}

.table-input-remove {
  width: 180px;
}

.table-input-remove button {
  width: 100%;
  padding: 6px 10px;
  outline: none;
  border: 1px solid #979797;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.table-input-remove button:hover {
  border: 1px solid #ca1b0e;
  color: #ca1b0e;
}

/* Стили полей для добавления записи */
.add {
  padding-left: 20px;
}

.table-input-add {
  width: 180px;
}

.table-input-add button {
  width: 100%;
  padding: 6px 10px;
  outline: none;
  border: 1px solid #979797;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.table-input-add button:hover {
  border: 1px solid #4325ee;
  color: #4325ee;
}

.add .table-input-field input {
  width: 95%;
  height: 100%;
  border: 1px solid #979797;
}
